/* HeroSearch private styles */
.search-result {
  li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    list-style-type: none;
  }

  .has-results {
    cursor: pointer;
  }
}

.search-result .has-results:hover {
  background-color: #607D8B;
}

.search-result li a,
.search-result li p {
  color: #888;
  display: block;
  text-decoration: none;
  margin: 0;
}

.search-result .has-results a:hover {
  color: white;
}
.search-result .has-results a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}